<section class="general" id="general">
  <div class="container-fulid mb-4 pb-4">
    <!-- breadcrumbs start -->
    <div class="breadcrumbs">
      <h1>faqs - general</h1>
      <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">pre-owned car guide</li>
        <li class="active">faqs</li>
        <li class="active">general</li>
      </ul>
    </div>
    <!-- end breadcrumbs -->

    <div class="row">
      <div class="col-lg-3">
        <app-emi-calculator></app-emi-calculator>
      </div>
      <div class="col-lg-9 mt-4">
        <div class="container mt-4 ">
          <p>We are on a mission to make the used car buying and selling process painless and want to help you
            every step of the way. Check out the following sections and, if you still cannot find what you
            need, feel free to contact us at your nearest location.</p>
          <br>
          <p>Do write to us with your comments and suggestions. We look forward to hearing from you!</p>
        </div>
        <div class="container" id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  Do I have to register to look for used cars available for sale on popularcarsoman.com? </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                No, if all you want to do is look for used cars and check out the best deals on offer you do not have to
                register.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  Do I need to register separately as a buyer and a seller?
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                No. Individual buyers and sellers don’t need to register. But if you are a dealer, you need to contact
                our representative or visit our nearest showroom.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  What geographic area does popularcarsoman.com serve?
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                We plan to provide services throughout Oman through our showroom network. Our showrooms are present in
                all major cities and towns in Oman. We will add other cities and towns as we move along.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                  aria-expanded="false" aria-controls="collapseFive">
                  How do I find out the market value of the car I want to buy or sell?
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body">
                Before you buy/sell a car check out with our representative. Alternatively you can also upload your car
                details in Sell Car section for online valuation.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                  aria-expanded="false" aria-controls="collapseFour">
                  How do I search for used cars on the popularcarsoman.com site?
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                Click on 'Buy Cars' option in the Menu, then enter all the fields to do a more detailed search giving your specific search criteria.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingSix">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                  aria-expanded="false" aria-controls="collapseSix">
                  What if I do not find a car that meets my requirements?
                </button>
              </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
              <div class="card-body">
                When you perform a search you have the option of saving the search specifications. Return to the site periodically, and execute the search again. We hope you will find the car you are looking for within short time period. Alternatively, you can also write to us stating your requirement/s.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingSeven">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven"
                  aria-expanded="false" aria-controls="collapseSeven">
                  What if I find a car that I am interested in buying?
                </button>
              </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
              <div class="card-body">
                Contact our nearest showroom or at the phone no appearing in the website. Alternatively you can also write to us we will contact you at the earliest.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingEight">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight"
                  aria-expanded="false" aria-controls="collapseEight">
                  Does popularcars help me find finance for my purchase?
                </button>
              </h5>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
              <div class="card-body">
                Yes, at popularcars you can enjoy the benefits of financing. For details please visit our nearest showroom
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingNine">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine"
                  aria-expanded="false" aria-controls="collapseNine">
                  What about helping me with insurance?
                </button>
              </h5>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
              <div class="card-body">
                We provide you with all that you need to know about motor insurance in Oman. This includes types of policies, claim procedures and exclusions. For details please visit our nearest showroom.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen"
                  aria-expanded="false" aria-controls="collapseTen">
                  Can you tell me a little more on what I should look for while buying a new car?
                </button>
              </h5>
            </div>
            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
              <div class="card-body">
                Please visit our section on PRE OWNED CAR GUIDE that will provide you with the essential information to assist you in your decision making process.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingEleven">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven"
                  aria-expanded="false" aria-controls="collapseEleven">
                  How do I know how much my car is worth?
                </button>
              </h5>
            </div>
            <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
              <div class="card-body">
                Contact our nearest showroom or post your car details into our website.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwelve">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve"
                  aria-expanded="false" aria-controls="collapseTwelve">
                  How much do you charge for listing my car?
                </button>
              </h5>
            </div>
            <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
              <div class="card-body">
                It’s absolutely free!! So what are you waiting for ?
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThirteen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirteen"
                  aria-expanded="false" aria-controls="collapseThirteen">
                  I am not able to get the desired car /make/model in your website car listing. What do I do?
                </button>
              </h5>
            </div>
            <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordion">
              <div class="card-body">
                Please write to us submitting your car details or call us directly at the given phone number. Your query will definitely be resolved .
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>