<section class="tips" id="tips">
    <div class="container-fluid">
        <!-- breadcrumbs start -->
        <div class="breadcrumbs">
            <h1>tips for buying</h1>
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">pre-owned car guide</li>
                <li class="active">tips for buying</li>
            </ul>
        </div>
        <!-- end breadcrumbs -->

        <!-- image section start -->
        <div class="row d-flex">
            <div class="col-lg-3">
                <app-emi-calculator></app-emi-calculator>
            </div>

            <div class="col-lg-9">
                <div class="container justify-content-end">
                    <img src="{{img}}" alt="" srcset="">
                    <span>{{pageheading}}</span>
                    <ul class="list " *ngFor="let content of para">
                        <li>{{content.text}}</li>
                    </ul>
                    <h4>{{heading}}</h4>
                    <p>{{onwerscontent}}</p>
                </div>
            </div>

        </div>
        <!-- image section end -->
        <div class="head"></div>
    </div>
</section>