<section class="offers" id="offers">
    <div class="container-fluid">
        <!-- breadcrumbs start -->
        <div class="breadcrumbs">
            <h1> current offers</h1>
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">buy / sell cars</li>
                <li class="active">current offers</li>
            </ul>
        </div>
        <!-- end breadcrumbs -->
        <div class="row">
            <div class="col-lg-3">
                <app-emi-calculator></app-emi-calculator>
            </div>
            <div class="col-lg-9">
                <h2>offers coming soon</h2>
            </div>
        </div>
    </div>
</section>