<!-- header section start -->
<!-- <section class="header" id="header">
    <div class="nav" >
        <nav class="navbar navbar-collapse  navbar-expand-lg mx-4 px-2">
          <div class="row">
            <ul class="navbar-nav mr-auto mx-4 ">
              <li class="nav-item mx-2" id="home">
                <a class="nav-link" routerLink="/home"><i class="fa fa-home mx-2" aria-hidden="true"></i>Home
                </a>
              </li>
              <li class="nav-item mx-1">
                <a class="nav-link" href="tel:+968 97101234"><i class="fa fa-phone pr-2" aria-hidden="true"></i>+968 97101234 </a>
              </li>
              <li class="nav-item mx-1">
                <a class="nav-link" href="tel:+968 24564822"><i class="fa fa-fax pr-2" aria-hidden="true"></i>+968 24564822 </a>
              </li>
              <li class="nav-item mx-1" >
                <a class="nav-link" href="https://mail.google.com"><i class="fa fa-envelope pr-2" aria-hidden="true"></i>popularcars@sbigh</a>
              </li>
              
            </ul>
           <div class="menu-spacer mr-4 pr-4 mx-4 px-4"></div>
           <div class="mr-4 pr-4 mx-4 px-4"></div>
           <div class="space"></div>
            <ul class="row ml-4 pl-4 ">
              <li class="nav-item mx-2  ml-4 pl-4">
                <a href="" target="_blank">
                    <img src="../../../assets/images/icons/arabic.png" width="55px" height="35px" alt="" srcset="">
                </a>
              </li>
                <li class=" nav-item mx-2 pt-1">
                    <a href="" target="_blank">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class=" nav-item mx-2 pt-1 ">
                    <a href="" target="_blank">
                        <img src="../../../assets/images/icons/google.png" width="15px" height="15px" alt="" srcset="">
                    </a>
                  </li>
                  <li class=" nav-item  mx-2 pt-1">
                    <a href="" target="_blank">
                        <img src="../../../assets/images/icons/instagram.png" width="15px" height="15px" alt="" srcset="">
                    </a>
                  </li>
                 
                  <li class=" nav-item  mx-2 pt-1">
                    <a href="" target="_blank">
                      <img src="../../../assets/images/icons/youtube.png" width="15px" height="15px" alt="" srcset="">
                    </a>
                  </li>
            </ul>
           
          </div>
        </nav>
      
      </div>
</section> -->
<!-- header section end -->

<!-- start navbar menu section -->
<section class="navbar-menu sticky-top">
  <!-- <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../../assets/images/logo/PopularcarsLogo.png" width="302px" height="35px" alt="" id="logo" srcset=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile_nav" aria-controls="mobile_nav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span> 
        </button>
        <div class="collapse navbar-collapse" id="mobile_nav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 float-md-right">
        </ul>
        <ul class="navbar-nav navbar-light">
            <li class="nav-item dmenu dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  about us
                </a>
                <div class="dropdown-menu sm-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/company-profile">company profile</a>
                    <a class="dropdown-item" href="/showrooms">showrooms</a>
                </div>
            </li>
            <li class="nav-item dmenu dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             buy / sell
              </a>
              <div class="dropdown-menu sm-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">buy cars</a>
                  <a class="dropdown-item" href="#">sell cars</a>
                  <a class="dropdown-item" href="#">current offers</a>
              </div>
          </li>
           
            <li class="nav-item"><a class="nav-link" href="">compare</a></li>
            <li class="nav-item dmenu dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             pre-owned car guide
              </a>
              <div class="dropdown-menu sm-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/tipsforbuying">tips for buying</a>
                  <a class="dropdown-item" href="/inspection">inspection</a>
                  <a class="dropdown-item" href="/test-drive">test drive</a>
                  <a href="/close-the-deal" class="dropdown-item">close the deal</a>
                  <a href="" class="dropdown-item">FAQs</a>
              </div>
          </li>
          <li class="nav-item dmenu dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             finance
            </a>
            <div class="dropdown-menu sm-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/inhouse-finance">in-house finance</a>
                <a class="dropdown-item" href="banks">banks</a>
                <a class="dropdown-item" href="/islamic-banking">islamic banking</a>
                <a class="dropdown-item" href="/finance-companies">finance companies</a>
            </div>
        </li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact us</a></li>
   
        </ul>
        </div>
    </div>
</nav> -->

</section>
<!-- end navbar menu section -->    