<section class="buy" id="buy">
    <div class="conainer-fluid">
        <!-- breadcrumbs start -->
        <div class="breadcrumbs">
            <h1>car listing</h1>
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">buy / sell cars</li>
                <li class="active">car listing</li>
            </ul>
        </div>
        <!-- end breadcrumbs -->
        <div class="row">
            <div class="col-lg-3">
                <mat-card>
                    <h4>refine result</h4>
                    <h3>budget</h3>
                    <div class="custom-slider">
                        <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
                    </div>
                    <h3>make</h3>
                    <div class="check">
                        <mat-checkbox>changan</mat-checkbox> <br>
                        <mat-checkbox>foton</mat-checkbox> <br>
                        <mat-checkbox>nissan</mat-checkbox> <br>
                        <mat-checkbox>renault</mat-checkbox>
                    </div>
                    <h3>kilometer</h3>
                    <div class="custom-slider">
                        <ngx-slider [(value)]="minValue1" [(highValue)]="maxValue1" [options]="options1"></ngx-slider>
                    </div>
                    <h3>car age</h3>
                    <div class="custom-slider">
                        <ngx-slider [(value)]="minValue2" [(highValue)]="maxValue2" [options]="options2"></ngx-slider>
                    </div>
                    <h3>fuel type</h3>
                    <div class="check">
                        <mat-checkbox>diesel</mat-checkbox> <br>
                        <mat-checkbox>petrol</mat-checkbox>
                    </div>
                    <h3>body type</h3>
                    <div class="check">
                        <mat-checkbox>commercial</mat-checkbox> <br>
                        <mat-checkbox>crossover</mat-checkbox> <br>
                        <mat-checkbox>sedan</mat-checkbox> <br>
                        <mat-checkbox>suv</mat-checkbox>
                    </div>
                    <h3>transmission</h3>
                    <div class="check">
                        <mat-checkbox>electrical</mat-checkbox> <br>
                        <mat-checkbox>automatic</mat-checkbox> <br>
                        <mat-checkbox>manual</mat-checkbox>
                    </div>
                    <mat-card-actions>
                        <button matbutton>find car</button>
                    </mat-card-actions>
                </mat-card>
                <app-emi-calculator></app-emi-calculator>
            </div>
            <div class="col-lg-9 cars ">
                <div class="col-lg-12">
                    <p *ngFor="let post of POSTS | paginate : {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count 
                        };
                        let i = index ">
                        <span class="">
                            <div class="row buy-car ">
                                <div class="card">
                                    <img class="img " id="" src="{{post.image}}" alt="" srcset="" height="208px" width="390px">
                                    <!-- <div class="carousel">
                                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner w-100">
                                                <div *ngFor="let image of item_data.images; let i=index" [ngClass]="(i === 0) ? 'active' : ''" class="carousel-item">
                                                    <img src="{{image}}" alt="" srcset="" class=" img-top" alt="Card Front" height="208px" width="390px">
                                                 </div>
                                            </div>
                                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                              <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                              <span class="sr-only">Next</span>
                                            </a>
                                          </div>
                                    </div> -->
                                    <!-- <img src="../../../../assets/images/finance/ahlibank.jpg" class="img-top" alt="Card Front" height="208px" width="390px"> -->
                                </div>

                                <div class="col-lg-7 pt-3">
                                    <div class="row">
                                        <h2>{{post.name}}</h2>
                                        <span class="row mt-2 "><span class="pt-4 mt-2 price">{{post.currency}}</span>
                                            <h4>{{post.price}}</h4>
                                        </span>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <!-- <div class="compare mt-4" *ngFor="let item ">
                                        <mat-checkbox (click)="addtoCompare(item)">add to compare</mat-checkbox>
                                    </div> -->
                                    <div class="compare mt-4">
                                        <!-- <mat-checkbox data-id="{{post.id}}" name="comapre[]">add to compare</mat-checkbox> -->
                                        <input type="checkbox" (change)="checkCheckBoxvalue(post.id, $event)"> add to compare<br>


                                    </div>
                                    <mat-divider></mat-divider>
                                    <div class="row ml-2 ">
                                        <p><i class="fa-solid fa-car"></i>{{post.year}}</p>
                                        <mat-divider></mat-divider>
                                        <p><i class="fa-solid fa-gauge"></i>{{post.fuel}}</p>
                                        <mat-divider></mat-divider>
                                        <p class="ml-4">
                                            <img src="../../../../assets/images/icons/transmission.png" width="20px" alt="" srcset=""> 
                                            {{post.transmission}}
                                        </p>
                                        <mat-divider></mat-divider>
                                        <p><i class="fa-solid fa-road"></i>{{post.km}}</p>
                                        <mat-divider></mat-divider>
                                        <div class="text-center">
                                            <a href="car-info/{{post.id}}" type="button" class="btn text-center ">buy it</a>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>

                        </span>
                    </p>
                </div>
                <div class="text-center">
                    <pagination-controls (pageChange)="onTableDataChange($event)"> </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>