.deal{
    img{
        margin: 30px 0 10px 35px;
        @media (max-width:768px){
            width: 90%;
        }
    }

    span{
        // margin: 30px 0 0px 35px;
        margin-top: 30px;
        margin-left: 35px;
        padding-bottom: 100px !important;
        text-align: left;
        color: #14181c;
        text-transform: capitalize;
        font-size: 24px;
        // font-family: 'raleway', sans-serif;
        font-family: 'Lato', sans-serif;
    }

    h4{
        margin: 30px 0 0px 35px;
        text-align: left;
        color: #5C5C5C;
        font-weight: bolder;
        font-size: 15px;
        text-transform: capitalize;
    }

    p{
        margin: 0px 30px 10px 35px;
        text-align: left;
        font-size: 15px;
        color: #5C5C5C;
        line-height: 26px;
    }    

    .head{
        margin-top: 5rem;
    }
}