
  <!-- breadcrumbs start -->
  <div class="breadcrumbs">
    <h1>showrooms</h1>
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">About Us</li>
        <li class="active">showrooms</li>
    </ul>
</div>
<!-- end breadcrumbs -->

<section class="showroom" id="showroom">
    <div class="container-fluid">
        <!-- start showrooms -->
        <div class="row d-flex">
            <div class="col-lg-3">
                <app-emi-calculator></app-emi-calculator>
            </div>
            <div class="col-lg-9">
               <div class="container">
                <div class="row ml-2 mt-2">
                    <div class="col-lg-4" *ngFor="let address of showroom">
                        <div class="card mt-4 mr-2">
                            <img src="{{address.image}}" alt="" srcset="">
                            <p>{{address.address}} <br>
                                <strong>contact: {{address.phone}}</strong>
                            </p>
                            <!-- <p class="text-block">{{address.name}}</p> -->
                        </div>
                    </div>
                </div>
               </div>
            </div>
            
        </div>
        <!-- end showrooms -->

    </div>
</section>