<!-- <app-header></app-header> -->
<app-navbar></app-navbar>

<ul class="ct-socials">
    <li>
        <a href="https://www.facebook.com/PopularCarsOman" target="_blank">
            <img src="../../../assets/images/icons/facebook.png" width="15px" height="15px" alt="" srcset="">
        </a>
    </li>
    <li>
        <a href="https://plus.google.com/u/0/118396765775175777387/posts" target="_blank">
            <img src="../../../assets/images/icons/google.png" width="15px" height="15px" alt="" srcset="">
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/popularcarsoman/" target="_blank">
            <img src="../../../assets/images/icons/instagram.png" width="15px" height="15px" alt="" srcset="">
        </a>
    </li>
    <li>
        <a href="https://www.youtube.com/channel/UClalfFfsnbH3FaFgJxMeoeQ" target="_blank">
            <img src="../../../assets/images/icons/youtube.png" width="15px" height="15px" alt="" srcset="">
        </a>
    </li>
    <li>
       <!-- <a href="/" target="_blank"><i class="fa fa-whatsapp"></i></a> -->
    </li>
 </ul>

 
 <router-outlet></router-outlet>
 <app-footer></app-footer>