<section class="privacy" id="privacy">
    <div class="container-fluid">
        <!-- breadcrumbs start -->
        <div class="breadcrumbs">
            <h1>privacy policy</h1>
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">privacy policy</li>
            </ul>
        </div>
        <!-- end breadcrumbs -->
        <div class="data">
            <div *ngFor="let para of para">
                <p>{{para.text}}</p>
            </div>
            <h4>{{heading}}</h4>
            <ul *ngFor="let list of listInfo">
                <li>{{list.info}}</li>
            </ul>
            <p>{{para2}}</p>
        </div>
    </div>
</section>