<!-- start footer section -->
<!-- <section class="footer" id="footer">
    <div class="container-fluid">
       <div class="container">
           <div class="row text-center">
               <div class="col-lg-1"></div>
               <p class="col-lg-6 float-right">contact us today to know more</p>
               <button class="btn col-lg-2 float-left" routerLink="/contact" type="submit">get in touch</button>  
           </div>
       </div>
    </div>
</section> -->
<!-- end footer section -->

<!-- start credits section -->
<section class="credits" id="credits">
    <div class="container-fluid">
        <div class="row  pt-4">
          <div class="col-lg-2 text-center">
             <h6>phone <br> <span>+968 97101234</span></h6>
          </div>
          <div class="col-lg-2 text-center">
            <h6>fax <br> <span>+968 24564822</span></h6>
         </div>
         <div class="col-lg-2 text-center">
            <h6>email <br> <span>popularcars@sbigh</span></h6>
         </div>
         <div class="col-lg-2 text-center">
          <div class="row text-center images">
            <a href="https://www.facebook.com/PopularCarsOman" target="_blank">
                <img src="../../../assets/images/icons/facebook.png" width="15px" height="15px" alt="" srcset="">
            </a>
            <a href="https://plus.google.com/u/0/118396765775175777387/posts" target="_blank">
                <img src="../../../assets/images/icons/google.png" width="15px" height="15px" alt="" srcset="">
            </a>
            <a href="https://www.instagram.com/popularcarsoman/" target="_blank">
                <img src="../../../assets/images/icons/instagram.png" width="15px" height="15px" alt="" srcset="">
            </a>
            <a href="https://www.youtube.com/channel/UClalfFfsnbH3FaFgJxMeoeQ" target="_blank">
                <img src="../../../assets/images/icons/youtube.png" width="15px" height="15px" alt="" srcset="">
            </a>
          </div>
         </div>
         <div class="col-lg-4">
            <p><a href="/privacy-policy">Privacy Policy</a> | &nbsp; Popular Pre-Owned Cars 2022 ©</p>
         </div>
        </div>
        
    </div>
</section>
<!-- end credits section -->