<section class="car-loan" id="car-loan">
    <div class="container-fulid mb-4 pb-4">
        <!-- breadcrumbs start -->
        <div class="breadcrumbs">
            <h1>faqs - car loan</h1>
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">pre-owned car guide</li>
                <li class="active">faqs</li>
                <li class="active">car loan</li>
            </ul>
        </div>
        <!-- end breadcrumbs -->

        <div class="row">
            <div class="col-lg-3">
                <app-emi-calculator></app-emi-calculator>
            </div>
            <div class="col-lg-9 mt-4 pt-3">
                <div class="container" id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    How do I get a loan to purchase a pre-owned car from Popular Pre owned cars?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body">
                                <p>There are a few simple steps involved in procuring a car loan:</p>
                                <ul>
                                    <li>Select a used car of your choice.</li>
                                    <li>Fill up the application form.</li>
                                    <li>Submit the required documents to the financial institution in question.</li>
                                    <li>Once all parameters are met the financer will give you the 'approval of loan'.
                                    </li>
                                    <li>You will have to submit PDC's & post approval documents.</li>
                                    <li>The loan amount will be disbursed.</li>
                                    <li>Your dream car is all yours!</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    Who is eligible for a used car loan?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <p>The following entities are eligible for a used car loan:</p>
                                <ul>
                                    <li>Omani Nationals or Expats having income proof.</li>
                                    <li>Valid Companies or Establishments in the Sultanate of Oman.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    How do I get a Loan?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordion">
                            <div class="card-body">
                                Submit the required documents to our in-house finance division (AUTOFINANCE). After
                                processing the documents and post all formalities the loan will be disbursed.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    What documents do I need to provide for financing?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col"> Documents required for Nationals </th>
                                            <th scope="col">Documents required for Expats</th>
                                        </tr>
                                    </thead>
                                     <tbody>
                                        <tr>
                                            <td>Valid National ID Card</td>
                                            <td>Passport Copy with VISA page</td>
                                        </tr>
                                        <tr>
                                            <td>Valid Driving License</td>
                                            <td>Valid Resident Card</td>
                                        </tr>
                                        <tr>
                                            <td>Latest Salary Certificate</td>
                                            <td>Valid Driving License</td>
                                        </tr>
                                        <tr>
                                            <td>Last 3 months Bank Statements</td>
                                            <td>Latest Salary Certificate</td>
                                        </tr>
                                        <tr>
                                            <td>Latest Electricity Bill</td>
                                            <td>Last 3 months Bank Statements</td>
                                        </tr>
                                        <tr>
                                            <td>Post dated Cheques</td>
                                            <td>Post dated Cheques</td>
                                        </tr>
                                     </tbody>
                                </table>
                                <p>For Companies & Establishments</p>
                                <ul>
                                    <li>Copy of National ID Card, Sponsor/Partners, Passport & Resident card for expats.</li>
                                    <li>Registration Certificate.</li>
                                    <li>Chamber of Commerce Certificates.</li>
                                    <li>MOCI Sheets.</li>
                                    <li>Specimen Signature Form.</li>
                                    <li>Latest Electricity Bill & Municipal License.</li>
                                    <li>Rental Agreement.</li>
                                    <li>Last 6 months Bank Statements.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Can all the cars on the website be financed?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                The financing options vary from one car to another, depend ing on the model/year of
                                manufacturing and are at the financer's discretion. AutoFinance is our preferred
                                financing partner.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                                    aria-expanded="false" aria-controls="collapseSix">
                                    What are the loan tenure options available ?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                            <div class="card-body">
                                The loan tenure options for pre-owned cars are anywhere from 12 to 60 months. For Expats
                                the maximum tenure is 48 months.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSeven">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    How is the interest amount calculated?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                            data-parent="#accordion">
                            <div class="card-body">
                                The interest is calculated on Flat rate.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingEight">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    Am I liable to pay any additional charges?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                            data-parent="#accordion">
                            <div class="card-body">
                                You will have to pay a “processing fee”, the amount of which varies from one financial
                                institution to another.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingNine">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    How long will it take for my loan to get approved?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                            <div class="card-body">
                                Once you have submitted all the documents required to the financial institution in
                                question, it should take approximately 3 working days to process the payment.
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>