
  <!-- breadcrumbs start -->
  <div class="breadcrumbs">
    <h1>about us</h1>
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">About Us</li>
        <li class="active">Company Profile</li>
    </ul>
</div>
<!-- end breadcrumbs -->

<section class="about" id="about">
    <div class="container-fluid">
        <!-- image section start -->
        <div class="row d-flex">
            <div class="col-lg-3">
                <app-emi-calculator></app-emi-calculator>
            </div>

            <div class="col-lg-9">
                <div class="container">
                    <img src="{{img}}" alt="" srcset="">
                    <p>{{para1}}</p>
                    <p>{{para2}}</p>
                    <p>{{para3}}</p>
                    <p>{{para4}}</p>
                    <p>{{para5}}</p>
                </div>
            </div>
        </div>
        <!-- image section end -->
    </div>
</section>