<div class="log text-center mt-2">
    <a href="/"><img src="../../../assets/images/logo/POP_LOgos_web-03.png" width="400px"  alt="" id="logo"
            srcset=""></a>
    <hr>
</div>

<section class="nav text-center justify-content-center sticky-top bg-white" id="nav">
    <nav class="navbar navbar-expand-md  ">
        <!--<a class="navbar-brand pb-2" href="#">Navbar</a>-->
        <button class="navbar-toggler" style="color: black !important;" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav text-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> about us </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/company-profile">company profile</a></li>
                        <li><a class="dropdown-item" href="/showrooms">showrooms</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> buy / sell  </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/buy-cars">buy cars</a></li>
                        <li><a class="dropdown-item" href="/sell-cars">sell cars</a></li>
                        <li><a class="dropdown-item" href="/current-offers">current offers</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/compare">compare</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  guide </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/tipsforbuying">tips for buying</a></li>
                        <li><a class="dropdown-item" href="/inspection">inspection</a></li>
                        <li><a class="dropdown-item" href="/test-drive">test drive</a></li>
                        <li><a class="dropdown-item" href="/close-the-deal">close the deal</a></li>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="">faq</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/general">general</a></li> 
                                <li><a class="dropdown-item" href="/car-loan">carloan</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> finance  </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/inhouse-finance">in-house finance</a></li>
                        <li><a class="dropdown-item" href="/banks">banks</a></li>
                        <li><a class="dropdown-item" href="/islamic-banking">islamic banking</a></li>
                        <li><a class="dropdown-item" href="/finance-companies">finance companies</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    
</section>
 <!-- <section class="navbar" id="navbar">
    <div class="conatiner">
         <div class="navbar sticky-top">
            <div class="dropdown">
                <button class="dropbtn">about us </button>
                <div class="dropdown-content">
                    <a href="/company-profile">company profile</a>
                    <a href="/showrooms">showrooms</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">buy / sell</button>
                <div class="dropdown-content">
                    <a href="/buy-cars">buy cars</a>
                    <a href="/sell-cars">sell cars</a>
                    <a href="/current-offers">current offers</a>
                </div>
            </div>
            <a href="/compare">compare</a>
            <div class="dropdown">
                <button class="dropbtn pre">pre-owned car guide</button>
                <div class="dropdown-content">
                    <a href="/tipsforbuying">tips for buying</a>
                    <a href="/inspection">inspection</a>
                    <a href="/test-drive">test drive</a>
                    <a href="/close-the-deal">close the deal</a> <br>
                    <a href="">faq</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">finance </button>
                <div class="dropdown-content">
                    <a href="/inhouse-finance">in-house finance</a>
                    <a href="/banks">banks</a>
                    <a href="/islamic-banking">islamic banking</a>
                    <a href="/finance-companies">finance companies</a>
                </div>
            </div>
            <a href="/contact">Contact</a>
        </div> 
    </div>
</section>  -->
